fastapi
uvicorn[standard]
transformers>=4.30.0
datasets
torch
torchvision
torchaudio
sentencepiece
tqdm
pillow
numpy
pytesseract
easyocr
scikit-learn
rouge-score
sacrebleu
accelerate
python-multipart
opencv-python-headless
kernels
opencv-python
langdetect
python-json-logger
prometheus_client
pydantic
requests
coverage
pytest
pytest-cov